<nav class="w-full bg-primary-300 h-16 flex items-center shadow-inner">
  <div class="container mx-auto flex items-center justify-between">
    <section class="flex items-center ml-6">
      <a href="/"> <img class="h-11" src="../../img/logo.png" alt=""> </a>
      <a href="/"> <p class="text-xl pl-2">Game Score</p> </a>
    </section>
    <section class="mr-6">
      <a class="login text-lg" href="/user/sesion">Iniciar Sesión</a>
      <img class="menuBtn h-12 hover:cursor-pointer hidden" src="../../img/user.png" alt="">
    </section>
  </div>
</nav>

<article id="menuUser" class="flex flex-row-reverse">
  <div class="absolute bg-primary-300 w-60 z-30 rounded-md drop-shadow-lg">
    <p class="profile px-6 py-4 text-lg hover:cursor-pointer hidden">Perfil</p> 
    <p class="logout mx-6 py-2 border-t border-[#D2F6C5] text-lg hover:cursor-pointer hidden">Cerrar Sesión</p>
  </div>
</article>
